* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}




#container{
    background-color: rgba(68, 117, 136, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Fait en sorte que la box du conteneur prenne la hauteur de la page*/
}

.card{
    width: 300px;
    border-radius: 10px;
    overflow: hidden; /* Fait en sorte que le contenu ne dépasse pas la bordure de card */
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative; /* La positions des éléments enfants sera relative à card */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for box-shadow */
    filter: grayscale(1); /*Ajoute un filtre gris*/


    
}

.card-header{
    height: 200px;
    overflow: hidden; /* Fait en sorte que le contenu ne dépasse pas la bordure de card-header */
    
}



.card-header img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Ajoute une transition pour l'effet de zoom */

}

/*Hover (pseudo classe) permet de faire une action quand on passe le curseur par dessus la boîte element*/
.card:hover{ 
    filter: grayscale(0); /*Enlève le filtre gris*/

}

.card-text{
    padding: 30px;
    background-color: white;
}

.card-text h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.card-text p{
    font-size: 14px;
}


/* Le code pour le bouton Favoris */
.heart-btn {
    position: absolute; /* Positionne le bouton absolument à l'intérieur de .card */
    top: 0;                 /* Positionne le bouton en haut de .card */
    left: -41px;            /* Positionne le bouton à gauche de la box de .card */
    background-color: tomato;
    padding: 5px 15px;
    border: none;
    color:white;
    cursor: pointer; /* Transforme le curseur en pointeur quand on passe par dessus du bouton */
    opacity: 0; /* Cache le bouton en le rendant transparent initialement */
    transition: all 0.3s ease-in-out; /* Applique transition à toutes les propriétés de la classe */
}



.card:hover .heart-btn {
    left: 0; /* Emmene le bouton à l'intérieur de .card */
    opacity: 1; /* Enlève la transparence du bouton ce qui l'affiche */
}


.card:hover .card-header img {
    transform: scale(1.1); /* Zoom effect on the image */
}
