* {
    box-sizing: border-box;
}


.card{
    border: 1px solid black;
    width: 300px;
    border-radius: 10px;
}

.card-header{
    border: 1px solid black;
    height: 200px;
}

.card-text{
    border: 1px solid black;
    padding: 30px;
}

h1 {

}